.footer {
    -webkit-box-shadow: 3px -4px 7px 0px rgba(184,184,184,1);
    -moz-box-shadow: 3px -4px 7px 0px rgba(184,184,184,1);
    box-shadow: 3px -4px 7px 0px rgba(184,184,184,1);
    padding: 0.1rem 1rem;
    background-color: rgba(255, 0, 0, 0.1);
}